$red: #e85645;
$blue: #1890ff;

h3 {
  color: $red;
  display: flex;
}

.logo {
  height: 32px;
  background-color: rgba(225, 225, 225, .2);
  margin: 16px;
}

.triggerIcon {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;

  &:hover {
    color: $blue;
  }
}